.wrapBigContainer{
    gap : 20px;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.wrapProductContainer{
    width: 600px;
    height: 660px;
    scrollbar-width: thin;
    scrollbar-color: darkgray lightgray;
    overflow: scroll;
    padding: 50px;
    border-radius: 10px;
    border:5px solid  #fffffc;  /*단색 일때 이렇게 함축해서 넣어도 됩니다.*/
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}

.bar {
    border-radius: 10px;
    background-color : #fffffc;
    height: 5px;
    margin: 30px;
}

.product {
    border-radius: 10px;
    border:3px solid  #fffffc;
    padding: 10px;
    font-size: 15px;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 10px;
    cursor: pointer;
    place-items: center;
    
    }
    
    .product img {
    max-width: 100%;
    min-height: 100%;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
    }
    
.product img {
    width: 120px;
    height: 120px;
    opacity: 0.7;
}
    
    .product img:hover {
    opacity: 1;
    }
    
    .product div {
    text-align: center;
    }

    .buttonLine {
        display: flex;
        gap : 10px
    }

    .product div button {
        border:5px solid  #fff7ff;;
        background-color: transparent;
        color: white;
        border-radius: 3px;
        cursor: pointer;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        transition: color 0.3s ease, background-color 0.3s ease;
        box-shadow: 0 0 10px #ff69b4, 0 0 20px #ff69b4, 0 0 30px #ff69b4;
    }